@page "/test"
@{
    Layout = "_Layout";
}
<h1>Test Page</h1>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. In voluptates ipsam deleniti optio officiis possimus quos soluta nisi consequatur. Quidem tempora cupiditate illo fuga consequatur nulla pariatur alias blanditiis repellat?
</p>
